/*
* CSS for Bailey Modlin
* Created by Bailey Modlin
* Last Updated 6/17/18
*/
body {
    background-image: url("../pics/background.png");
    background-repeat: no-repeat; 
    background-position: top right; 
    background-size: 100% 100%;
    margin: 0px 0px 0px 0px;
    color: rgba(128, 128, 128, 1);
    text-align: center; 
}

.menuBar {
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.menuLink {
    background-color: rgba(0,0,0,0);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Trebuchet MS';
    margin: 0px,0px,0px,0px;
}

.menuLink button:hover {
    background-color: #000000;
    color: #cccccc;
}

.content {
 
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
    font-family: 'Trebuchet MS';
    animation: fade 2s;
}

.content-light {

    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: 'Trebuchet MS';
    animation: fade 2s;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

.profileCard {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .6);
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 5px;
    margin: 12px;
}

img {
    border-radius: 5px;
}


.aboutContainer {

    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;

}

.about {
    flex-grow:initial;
    margin-left: 16px;
}


.info {
    display: inline-flex;
    border-color: white;
    border-radius: 5px; 

}

.list {
    width: 250px;
}

/*Form*/
input[type=text], textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 50%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    color: #000000;
    opacity: .6;
    background-color: #ccc;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #ddd;
        opacity: 1;
        color: #000000;
    }

.software {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 16px;
    border-radius: 5px;
}

#overlay {
    position: fixed;
    display: block; 
    height: 100%; 
    width: 100%;
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, .8);
    z-index: 2;
    cursor: pointer; 
}

#overlayTextLarge {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


#overlayTextSmall {
    position: relative;
    top: 60%;
    left: 50%;
    font-size: 24px;
    color: white;
    transform: translate(-50%, 100%);
    -ms-transform: translate(-50%,100%);
}

