body {
    background-color: #00BFFF;
    margin: 0px 0px 0px 0px;
}

.menuBar {
    overflow: hidden;
    border: 1px solid #00BFFF;
    background-color: #00BFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.menuBar button {
    background-color: inherit;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0px,0px,0px,0px;
}

.menuBar button:hover {
    background-color: #0094ff;
    color: #cccccc;
}

.menuBar button.active {
    color: #ffffff;
    background-color: #0094ff;
}

.content {
    color: #FFFFFF;
    background-color: #0094ff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
    animation: fade 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

.profileCard {
    color: #FFFFFF; 
    background: #0094ff;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 5px;
}

img {
    border-radius: 5px;
}

.profileContainer {
    color: #FFFFFF;
    background: #0094ff;
    padding: 2px 16px;
    border-radius: 5px;
}

.aboutContainer {
    display: flex;
}

.about {
    flex-grow: 1;
    margin-left: 16px;
}

.softwareMenu {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    .softwareMenu:after {
        content: '\02795';
        font-size: 13px;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2796";
}